.Home {
  background-color: #f1f1f1;
  border: #d0d0d0 1px solid;
  margin: 70px;
  text-align: center;
}

.Home__content__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Home__content {
  padding: 40px;
  display: flex;
}

.Home__content__description {
  margin: 0px 0px 20px;
  font-size: 16px;
}
